
<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
          <h1>Liste de course</h1>
            <div class="categories_actions col-lg-12">
              <div v-if="showModal">
                <transition name="modal">
                  <div class="modal-mask">
                    <div class="modal-wrapper">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" @click="showModal=false">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Modal title</h4>
                          </div>
                          <div class="modal-body">
                            <div class="justify-content-center row">
                              <form  v-on:submit="createCategory(cat.id)" class="form-inline">
                                  <label for="name" class="sr-only">{{ newCategory.name }}</label>
                                  <input v-model="newCategory.name" type="text" class="form-control mb-2 mr-sm-2" id="category_name" placeholder="Nom de la catégorie">


                                  <div class="btn-group float-sm-right" role="group" aria-label="Buttons">
                                     <button @click="createCategory(cat.id)" title="Créer une nouvelle catégorie" type="button" class="btn btn-success mb-2" :disabled="isDisabled"><i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i></button>
                                  </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </transition>
              </div>
              <button class="pull-right btn btn-success mb-2" title="Créer une catégorie" id="show-modal" @click="showModal=true"><i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i> Ajouter une catégorie</button>
              <button @click="clearAllItems()" title="Vider tous les articles" type="button" class="btn btn-danger mb-2"><i class="fa fa-eraser fa-fw" aria-hidden="true"></i> Vider tous les articles</button>

            </div>
            <hr>
            <div class="clearfix"></div>
            <div class="col-lg-4 col-md-6 mx-auto" v-for="cat in categories" :cat="cat">
                <div class="card card-default">
                    <div class="card-header">
                    <input v-model="cat.name" v-show="showField('name')" id="cat-name" type="text" class="field-value form-control" @focus="focusField('name')"  v-on:blur="updateCategoryHandler(cat)" @blur="blurField">
                    <button @click="deleteCategoryHandler(cat.id)" title="Supprimer cette catégorie" type="button" class="pull-right btn btn-danger btn-xs mb-2"><i class="fa fa-remove" aria-hidden="true"></i></button>
                  </div>





                    <div class="card-body">
                      <button @click="clearCategory(cat.id)" title="Supprimer tous les articles de cette catégorie" type="button" class="pull-right btn btn-warning btn-xs mb-2"><i class="fa fa-eraser" aria-hidden="true"></i></button>
  </div>
                        <app-item
                            v-for="item in categoryItems(cat.id)"
                            :item="item"
                            :category="cat.id"
                            :key="item.id"
                            @deleteEvent="deleteItemHandler"
                            @updateEvent="updateItemHandler">
                        </app-item>

                        <hr>
                        <app-new-item
                            :category="cat.id"
                            @createEvent="createEventHandler">
                        </app-new-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import appItem from "./Item";
import appNewItem from "./NewItem";

export default {
  data() {
    return {
      items: [],
      showModal: false,
      categories: [],
      errors: [],
      newCategory: {
        name: ""
      },
      cat : {
       name: ''
     },
     editField : ''
    };
  },
  components: {
    appItem,
    appNewItem
  },
  computed: {
    isDisabled() {
      if (this.newCategory.name.length < 3 ) {
        return true;
      }
      return false;
    }
  },
  created() {
    axios.defaults.headers.common["X-Requested-With"] = "XMLHttpRequest";
    axios
      .get("api/items")
      .then(response => {
        this.items = response.data.items;
        this.categories = response.data.categories;
      })
      .catch(e => {
        console.log(e.response);
      });
  },
  methods: {
    categoryItems(cat) {
        return this.items.filter(item => item.category === cat)
    },
    deleteItemHandler(id) {
      axios
        .delete(`api/items/${id}`)
        .then(response => {
          console.log(response.data);
        })
        .catch(e => {
          console.log(e.response);
        });
      this.items = this.items.filter(item => {
        return item.id !== id;
      });
    },
    createEventHandler(newItem) {
      axios
        .post("api/items", newItem)
        .then(response => {
          console.log("stored");
          this.items.push(response.data);

          newItem.name = "";
          newItem.quantity = null;
        })
        .catch(e => {
          console.log(e);
        });
    },
    updateItemHandler(item) {
      axios
        .put(`api/items/${item.id}`, item)
        .then(response => {})
        .catch(e => {
          console.log(e);
        });
    },
    clearCategory(catid){
      axiosuser
        .post(`api/clearcategory/${catid}`)
        .then(response => {
          console.log("cleared");
          response.data.forEach((val)=>{
            console.log(val);
            let item = this.items.indexOf(val)
            this.items.splice(item, 1);
          });
          return this.items;
        })
        .catch(e => {
          console.log(e);
        });
    },
    createCategory(newCategory) {
      axios
        .post("api/categories", this.newCategory)
        .then(response => {
          this.categories.push(response.data);
          this.newCategory.name = "";
          this.showModal = false;
        })
        .catch(e => {
          console.log(e);
        });
    },
    clearAllItems() {
      axios
        .post(`api/clearallitems`)
        .then(response => {
          console.log("cleared");
          response.data.forEach((val)=>{
            console.log(val);
            let item = this.items.indexOf(val)
            this.items.splice(item, 1);
          });
          return this.items;
        })
        .catch(e => {
          console.log(e);
        });
    },
    updateCategoryHandler(item) {
      axios
        .put(`api/categories/${item.id}`, item)
        .then(response => {})
        .catch(e => {
          console.log(e);
        });
    },
    deleteCategoryHandler(id) {
      axios
        .delete(`api/categories/${id}`)
        .then(response => {
          console.log(response.data);
        })
        .catch(e => {
          console.log(e.response);
        });
      this.categories = this.categories.filter(categories => {
        return categories.id !== id;
      });
    },
    focusField(name){
      this.editField = name;
    },
    blurField(){
      this.editField = '';
    },
    showField(name){
      return (this.cat[name] == '' || this.editField == name)
    }
  }
};
</script>
